<h1>Media Bay</h1>
<nav ng-include="'partials/nav.html'"></nav>
<h1>Create a New Product</h1>
<div>
	<label for="name">Product Name</label>
	<input type="text" name="name" ng-model="product.name">
</div>
<div>
	<label for="description">Description</label>
	<input type="text" name="description" ng-model="product.description">
</div>
<div>
	<label for="price">Price</label>
	<input type="text" name="price" ng-model="product.price">
</div>

<select ng-model="selectedGroup" ng-options="g.GroupId as g.Name for g in groupList">
    <option value="">Product Groupings</option>
</select>

<button ng-click="createProduct()">Submit</button>